
body {
    margin: 0;
    font-family: "Apple Chancery", sans-serif;
    background-color: #9fabbf;
    text-align: center;
}

.image-txt-container{
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}


a {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 10px;
    border-radius: 25px
}

div {
    margin: 0
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    max-height: 15%;
    border-radius: 15px;
}

.image1 {
    max-width: 60%;
    max-height: 300px;
    border-radius: 50%;
}

.link {
    margin: 40px;
}


    
