body {
    font-family: Courier New;
    background: #FAD3A0;
}


.body-border{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    border: 40px solid;
    border-color: darkorange;
}
