body {
    font-family: Courier New;
    background: #c6cdc7;
}


.body-border{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    border: 40px solid;
    border-color: #6F4E37;
}
