body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    border: 30px solid;
    border-color: #6F4E37;
    margin: 0;
    overflow: auto;
    font-family: Courier New;
    background: #c6cdc7;
}

.title{
    text-align: center;
}

.paragraph{
    font-family: Parable;
    text-align: center;
    line-height: 25px;
    margin-top: 2rem;
}

.image-table-container{
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    max-height: 15%;
    border-radius: 15px;
}

.image1 {
    max-width: 60%;
    max-height: 300px;
    border-radius: 50%;
}

.image2 {
    max-width: 100%;
    max-height: 300px;
    border-radius: 10%;
}

a {
    text-decoration: none;
    color: blue;
    background-color: lightblue;
    padding: 10px;
    position: absolute;
    right: 80px;
    top: 80px;
    border-radius: 70%;
}

.customButton{
    font-family: Courier New;
    position: absolute;
    right: 70px;
    top: 130px;
    background-color: lightblue;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin-left: 3rem;
  margin-right: 3rem;
}

td, th {
  border: 1px solid #FAA8F8;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FAA8F8;
}


